@font-face{
    font-family: "front__text";
    src: url(SRC/Phone/ofont.ru_Archangelsk.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 10px;
}

.header {
    position: absolute;
}

.menu {
    display: flex;
    margin-left: 300px;
    margin-top: 30px;
}

.menu__links {
    display: flex;
    padding-left: 500px;

}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screen {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: end;

}


.screen__image {
    object-fit: cover;
    ;

}

.rectangle {
    background-color: yellow;
    display: flex;
    width: 600px;
    height: 300px;
    margin-right: 300px;
}

.frame {
    display: flex;
    position: absolute;
    margin-bottom: 70px;
}

.headline {
    padding: 10px;
    display: flex;
    font-family:"front__text",Arial, Helvetica, sans-serif;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
}

.btn {

    padding: 30px;
    background-color: black;
    color: yellow;
    font-size: 20px;
    display: flex;
    text-decoration: none;
    width: max-content;
}