@font-face{
    font-family: "front__text";
    src: url(SRC/Phone/ofont.ru_Archangelsk.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-top: 10px;
}

.header {
    position: absolute;
}

.menu {
    display: flex;
    margin-left: 300px;
    margin-top: 30px;
}

.menu__links {
    display: flex;
    padding-left: 500px;

}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screen {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: end;

}


.screen__image {
    object-fit: cover;
    ;

}

.rectangle {
    background-color: yellow;
    display: flex;
    width: 30%;
    margin-right: 360px;
    clip-path: polygon(10% 0, 100% 0, 100% 20%, 100% 90%, 90% 100%, 0 100%, 0% 80%, 0 10%);
}
.rectangle__content {
    padding: 30px;
}

.frame {
    display: flex;
    position: absolute;
}

.headline {
    /* padding: 10px; */
    display: flex;
    font-family:"front__text",Arial, Helvetica, sans-serif;
    font-size: 62px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
}

.btn {
margin-top: 20px;
    padding: 30px;
    background-color: black;
    color: #F8F200;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    display: flex;
    text-decoration: none;
    width: max-content;
    line-height: 40px; 
}
.next__screen {

}
.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-auto-flow: dense;
}
.gallery__big {
    grid-row: 2 span;
    grid-column: 2 span;
}

